<head>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script>
    window.addEventListener("load", function() {
      const app = new Vue({
        el: "#tweet-form",
        data() {
          return {
            tweet: ""
          };
        },
        methods: {
          processForm(e) {
            e.preventDefault();
            axios
              .post("/tweet", {
                tweet: this.tweet
              })
              .then(function(response) {
                response.data.tweet = this.tweet;
              });
          }
        }
      });
    });
  </script>
</head>

<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>Hello, world!</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>profile</p>
      </div>
    </div>
  </div>  
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>timeline</p>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>who to follow</p>
      </div>
    </div>
  </div> 
</div>

<div class="row">
  <div class="col-xs-3 col-xs-offset-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>trends</p>
      </div>
    </div>
  </div>
</div>

<a class="btn btn-secondary" href="/logout" role="button">Log out</a>

<form method="POST" id="tweet-form" @submit.prevent="processForm">
  <!-- <label>Tweet:</label>
    <input type='text' id='tweet' v-on:change="handleMakeTweet()" v-model='content' />
    <button v-on:click="makeTweet()">Tweet</button> -->
  <div class="field">

    <input type="text" class="input" name="tweet" v-model="tweet" placeholder="What's happening?" />
  </div>
  <div class="field has-text-right">
    <button type="submit" class="button is-danger">Submit</button>
  </div>
</form>
