<html>

<head>
    <title>NanoTwitter Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/welcome.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<body>
    <!--Login Part-->
    <div id="container">
        <div class="show-case">
            <i id="twitter-logo" class="fab fa-twitter"></i>
            <p>Twitter. It's what's happening.</p>
            <form id="user_login" action="/login" method="post">

                <!-- <label>Email</label> -->
                <p>
                    <span class="login__symble_1"><i class="fa fa-envelope fa-1x"></i></span>
                    <input id="user_email" name="email" type="text" placeholder="Email" required />
                </p>
                <!-- <label>Password</label> -->
                <p>
                    <span class="login__symble_1"><i class="fa fa-lock fa-1x"></i></span>
                    <input id="user_password" name="password" type="password" placeholder=Password required />
                </p>
                    <% if flash[:notice] %>
                    <p class="alert alert-danger" role="alert">
                        <span class="login-error__icon"><i class="fa fa-exclamation-circle"></i></span>
                        <span class="login-error__font"><%= flash[:notice] %></span>
                    </p>
                    <% end %>
                <p>
                    <button id="login-btn">Login</button>
                </p>
            </form>
        </div>
    </div>

</body>

</html>