<form action="/register" method="post">
  <div id='flash' class='notice'>
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= flash[:notice] %>
  </div>
  <fieldset>
    <p><label for="username" class="username">Username</label><input id="username" maxlength="100" name="username" size="25" type="text"></p>
    <p><label for="email" class="email">Email</label><input id="email" maxlength="100" name="email" size="25" type="text"></p>
    <p><label for="password" class="password">Password</label><input maxlength="25" name="password" size="25" type="password"></p>
    <p><input type="submit" value="Sign Up"></p>
  </fieldset>
</form>
